body {
    background-color: darkorange;
}

h1 {
    text-align: center;
}

h1 {
    color: black;
}

h1 {
    text-shadow: -2px 2px white;
}

h1 {
    font-family: cursive;
}

h1{
    letter-spacing: 2px;
}

h3 {
    text-align: center;
}

h3 {
    text-shadow: -2px 2px white;
}

h3 {
    color: black;
}

h3 {
    font-family: cursive;
}

p {
    font-size: 19px;
}

h3 {
    text-decoration: underline double;
}

h1 {
    text-decoration: underline double;
}

p {
    text-align: center;
}

h3 {
    font-size: 23px;
}

h2 {
    text-align: center;
}

h2 {
    font-family: cursive;
}

h2 {
    text-decoration: underline double;
}

h2 {
    text-shadow: -2px 2px white;
}

h2 {
    letter-spacing: 2px;
}